
# Visual Studio Code files
.vscode/*
*.code-workspace

# Local History for Visual Studio Code
.history/

# env files that usually contain secrets or local config
*pycache*
**/__pycache__/*
**/__pycache__
**/*.ipynb_checkpoints/

#log file
*.log

# Ignore local Terraform files

# Local .terraform directories
**/.terraform/*
**/.terraform*

# .tfstate files
*.tfstate
*.tfstate.*

# .pem file
**/id_rsa

# ignore env files
.env
*.test
*.local

#ignore data folder 

*.db
**/mlruns/




Companies_Analyzed/.DS_Store
*.DS_Store
.vscode/launch.json
*.pyc
